/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: auto;
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 300px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 200px 0px;
}

header h1 {
    font-size: 4em;
}

header p {
    font-size: 1.5em;
    padding: 0px 450px;
}

.info {
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 40px 0px;
}

.info h2 {
    font-size: 2em;
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-underline-offset: 15px;
}

.info-items {
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}

.info-items article {
    height: auto;
    width: 300px;
}

.info-items article h3 {
    font-size: 1.5em;
    color: #00B172;
}

.info-items article p {
    font-size: 1.3em;
    font-weight: 100;
}

.info-items img {
    width: auto;
    height: 90px;
}

.kanye-west {
    width: auto;
    height: 500px;
    background-color: #00B172;
    margin: 40px;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanye-west div {
    padding: 0px 30px;
}

.kanye-west h2 {
    font-size: 2em;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 15px;
    padding-bottom: 20px;

}

.kanye-west article {
    color: white;
    padding-bottom: 20px;
    width: 600px;
}

.kanye-west article h3 {
    font-size: 1.7em;
}

.kanye-west article p {
    font-size: 1.3em;
}

.logo-white {
    height: auto;
    width: 150px;
}

.kanye-west-screenshot {
    width: auto;
    height: 600px;
}